.firstest {
width: 600px;
border: 12px solid black;
padding: 12px;
margin-bottom: 50px;
}

.firstest{
    transition: 1000ms;
}

.random{
    transition: 1000ms;
}

p.para1{
width: 600px;
border: 12px solid black;
padding: 12px;
position: absolute;
top: 12.3%;
right: 30%;
margin-bottom: 50px;
}

p.para2{
    transition: 1000ms;
}
p.para2{
width: 600px;
border: 12px solid black;
padding: 12px;
position: absolute;
top: 0%;
right: 30%;
}
p.random{
    width: 600px;
border: 12px solid black;
padding: 12px;
    margin-bottom: 50px;
}

h1{
margin-left: 600px;
}

p.para1{
    transition: 1000ms;
}
@media (max-width: 1441px) {
p.para1{
right: 1%;

}

p.para2{
    right: 1%;
}

h1{
    margin-left: 400px;
}
}

@media (max-width: 1221px) {
h1{margin-left: 100px;}
.firstest{

width: 250px;

}
p.para1{
    width: 250px;
    top: 17%;
}
p.para2{
    width: 250px;
}
p.random{
    width: 250px;
}



}

@media (max-width: 500px){
    .firstest{width: 80px;}
    p.para1{width: 80%;
    top: 39%;
height: 381px;
width: 80px;}
    p.para2{width: 80px;}
    p.random{width: 80px;}
    h1{margin-left: 50px;
    font-size: 30px;}
}
button:hover{
opacity: 30%;
}






button{
    animation: movin 600ms infinite alternate-reverse
}
@keyframes movin {
    0%{
transform: translateX(0);

    }
    100%{
transform: translateX(20px);

    }
}
